<div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h5>Dirección de envío</h5>
        </div>
        <div align="right">
            <div class="col-sm-6 col-md-6">
                <a class="more" href="{% url 'edit_account' %}">Editar dirección</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Nombre </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.name|default_if_none:'Por definir'}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Apellidos </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.lastName|default_if_none:'Por definir'}}  </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Dirección </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.address|default_if_none:'Por definir'}}</p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Código postal </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.postalCode|default_if_none:'Por definir'}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Ciudad </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.town|default_if_none:'Por definir'}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> País </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.country|default_if_none:'Por definir'}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Teléfono </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.phone|default_if_none:'Por definir'}} </p>
                </div>
            </div>
        </div>
    </div>
</div>