<div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h5>Dirección de envío</h5>
        </div>
        <div align="right">
            <div class="col-sm-6 col-md-6">
                <a class="more">Editar dirección</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Nombre </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.name}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Apellidos </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.lastName}}  </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Dirección </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.address}}</p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Código postal </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.postalCode}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Ciudad </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.town}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> País </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.country}} </p>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <div class="row" >
                <div class="col-md-3">
                    <p> Teléfono </p>
                </div>
                <div class="col-md-9">
                    <p class="color"> {{address.phone}} </p>
                </div>
            </div>
        </div>
    </div>
</div>