
<!DOCTYPE html>

<html lang="es">
   <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Elisabet Gonzalez">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <!--<link rel="icon" href="../favicon.ico"> -->
        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'project/menu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'project/home.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'project/bla.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'project/header.css' %}" />
       <link rel="stylesheet" type="text/css" href="{% static 'project/lib/jquery.raty.css' %}" />

        <script src="{% static 'project/general.js' %}"></script>
        <script src="{% static 'project/lib/jquery.raty.js' %}"></script>

        <title> Vinix </title>
    </head>

    <body>
        {% include "navbar_tienda.html" %}

        <div class="container">
            <div class="row">
                <div class="span9">
                   {% block body %}
                   {% endblock body %}
                </div>
            </div>
        </div>

        <div>
            {% load staticfiles %}
        </div></br></br></br>

        <div id="wrapper">
            <div id="footer">
                <ul class="footer-left">
                    <li><a href="" title="">Envíos &amp; devoluciones</a></li>
                    <li><a href="" title="">Tarifas</a></li>
                    <li><a href="" title="">Condiciones de uso &amp; privacidad</a></li>
                    <li><a href="" title="">Sobre nosotros</a></li>
                    <li><a href="" title="">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>