{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <h4> Novedades </h4></br></br>
    <div class="row">
        {% if products %}
            {% for p in products %}
                <div class="col-sm-4 col-md-3" >
                    <div class="thumbnail">
                        <a href="{% url 'wine_view' p.id %}"> <img  src="{{p.image.url}}"> </a>
                        <div class="caption" align="center">
                            <h5>{{ p.name}}</h5>
                            <p><b>{{ p.price}}€</b></p>
                            <a href="{% url 'wine_view' p.id %}" id="btn"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No existen novedades</p>
        {% endif %}
    </div></br></br>

    <div align="center">
        {% if list_prod.has_previous %}
            <a href="?page={{ list_prod.previous_page_number }}" > <span > ←ANT </span></a>
        {% endif %}
        {% if not list_prod.has_previous %}
            <a href="#" aria-label="Previous"> <span aria-hidden="true"> ←ANT </span> </a>
        {% endif %}

        {% for i in list_prod.paginator.page_range  %}
            {% if list_prod.number == i %}
                <a href="?page={{i}}">  <span class="badge1" class="sr-only">{{i}}</span></a>
            {% else %}
               <a href="?page={{i}}"> {{i}} <span class="sr-only">(current)</span></a>
            {% endif %}
        {% endfor %}

        {% if list_prod.has_next %}
            <a href="?page={{ lista_prod.next_page_number }}" aria-label="Next"> <span aria-hidden="true"> POST→ </span></a>
        {% endif %}
        {% if not list_prod.has_next %}
            <a href="#" aria-label="Next"> <span aria-hidden="true"> POST→</span></a>
        {% endif %}
    </div>

{% endblock body %}