{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <h4> Novedades </h4></br></br>
    <div>
        {% block content %}
            <form action="" method="get">
                {{ products.form.as_p }}
                <button type="submit" name="submit" class="btn btn-primary btn-lg active">Buscar</button>
            </form>

        {% endblock %}

    </div>
    <div class="row">


        {% if list_prod %}
            {% for p in list_prod %}
                <div class="col-sm-4 col-md-3" >
                    <div class="thumbnail">
                        {% if p.wine %}
                            <a href="{% url 'wine_view' p.id %}"> <img  src="{{p.image.url}}"> </a>
                        {% else %}
                            <a href="{% url 'spirit_view' p.id %}"> <img  src="{{p.image.url}}"> </a>
                        {% endif %}
                        <div class="caption" align="center"> </div>
                    </div>
                    <div class="cajaProducto"></br>
                        <div><h5>{{p.name}}</h5></div>
                        <div class="cajaTexto">
                            <span>{{p.price}}€</span></br>
                        </div></br>
                    </div></br>
                </div>
            {% endfor %}

        {% else %}
            <p>No existen novedades</p>
        {% endif %}
    </div></br></br>

    <div align="center">
        {% if list_prod.has_previous %}
            <a href="?page={{ list_prod.previous_page_number }}" > <span > ←ANT </span></a>
        {% endif %}
        {% if not list_prod.has_previous %}
            <a href="#" aria-label="Previous"> <span aria-hidden="true"> ←ANT </span> </a>
        {% endif %}

        {% for i in list_prod.paginator.page_range  %}
            {% if list_prod.number == i %}
                <a href="?page={{i}}">  <span class="badge1" class="sr-only">{{i}}</span></a>
            {% else %}
               <a href="?page={{i}}"> {{i}} <span class="sr-only">(current)</span></a>
            {% endif %}
        {% endfor %}

        {% if list_prod.has_next %}
            <a href="?page={{ list_prod.next_page_number }}" aria-label="Next"> <span aria-hidden="true"> POST→ </span></a>
        {% endif %}
        {% if not list_prod.has_next %}
            <a href="#" aria-label="Next"> <span aria-hidden="true"> POST→</span></a>
        {% endif %}
    </div>

{% endblock body %}