{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <h4> Novedades </h4></br></br>
        </div>
        <div class="col-sm-3 col-md-3" id="orderby">
            {% block content %}
                <form action="" id="order_form" method="get">
                    {{ products.form.as_p }}
                    <button type="submit" id="submit_order" name="submit" class="btn btn-primary btn-lg active" style="visibility: hidden;">Buscar</button>
                </form>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        {% if list_prod %}
            {% for p in list_prod %}
                <div class="col-sm-4 col-md-3" >
                    <div class="thumbnail">
                        {% if p.wine %}
                            <a href="{% url 'wine_view' p.id %}"> <img  src="{{p.image.url}}"> </a>
                        {% else %}
                            <a href="{% url 'spirit_view' p.id %}"> <img  src="{{p.image.url}}"> </a>
                        {% endif %}
                        <div class="caption" align="center"> </div>
                        <div class="cajaProducto">
                            <div>
                                {% if p.wine %}
                                    <a href="{% url 'wine_view' p.id %}"><h5>{{p.name}}</h5></a>
                                {% else %}
                                    <a href="{% url 'spirit_view' p.id %}"><h5>{{p.name}}</h5></a>
                                {% endif %}
                                <p>{{p.zone}}, {{p.country}}</p>
                                <span>{{p.price}}€</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>No existen novedades</p>
        {% endif %}
    </div></br></br>


    {% if has_filters %}
            {{filters_value}}
    {% endif %}

    <div align="center">
        {% if list_prod.has_previous %}
            {% if has_filters %}
                <a href="?page={{ list_prod.previous_page_number }}{{filter_value}}" > <span > ←ANT </span></a>
            {%else%}
                <a href="?page={{ list_prod.previous_page_number }}" > <span > ←ANT </span></a>
            {% endif %}
        {% endif %}

        {% for i in list_prod.paginator.page_range  %}
            {% if list_prod.number == i %}
                {% if has_filters %}
                    <a href="?page={{i}}{{filter_value}}">  <span class="badge1" class="sr-only">{{i}}</span></a>
                {% else %}
                    <a href="?page={{i}}"> <span class="badge1" class="sr-only">{{i}}</span></a>
                {% endif %}
            {% else %}
                {% if has_filters %}
                    <a href="?page={{i}}{{filter_value}}"> {{i}} <span class="sr-only">(current)</span></a>
                {% else %}
                    <a href="?page={{i}}"> {{i}} <span class="sr-only">(current)</span></a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if list_prod.has_next %}
            {% if has_filters %}
                <a href="?page={{ list_prod.next_page_number}}{{filter_value}}" aria-label="Next"> <span aria-hidden="true"> POST→ </span></a>
            {% else %}
                <a href="?page={{ list_prod.next_page_number }}" aria-label="Next"> <span aria-hidden="true"> POST→ </span></a>
            {% endif %}
        {% endif %}

    </div>

{% endblock body %}