{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
     <ol class="breadcrumb">
         <li><a href="{% url 'home' %}"><small>Inicio</small></a></li>
         <li><small>Mi cuenta</small></li>
     </ol>

    <div class="row">

        <div class="col-sm-4 col-md-4">
            <h4>Detalles de la cuenta</h4></br>

            <p><b> {{user.first_name}} {{user.last_name}}</b> </p>

            {% if address %}
                <p> {{address.0.address}} </p>
                <p> {{address.0.province}}, {{address.0.country}} </p>
                <p> {{address.0.postalCode}} </p>
                <p> {{address.0.phone}} </p>
            {% endif %}
            </br>
            <a class="more" href="{% url 'edit_account' %}"> Editar información </a>
        </div>
        <div class="col-sm-8 col-md-8">
            <h4>Pedidos</h4></br></br>
            {% if shoppings %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Número pedido </th>
                            <th> Fecha </th>
                            <th> Dirección </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shop in shoppings %}
                            <tr>
                                <td> <a class="more" href="{% url 'summary_shopping' shop.id %}"> #{{shop.id}} </a></td>
                                <td> {{shop.date}}</td>
                                <td> {{shop.address}}</td>
                                <td> {{shop.priceTotal}} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Todavía no se ha realizado ninguna compra.</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}