<div align="right">
    </br>
    <p>
    <a href="" > Mi cuenta <span class="glyphicon glyphicon-user gray"  aria-hidden="true">  </span></a>
    <a>   |   </a>
    <a href="" >Carrito {% if request.session.amount %} <span class="badge" >{{request.session.amount}}  € </span></a>{% endif %}
    </p>
</div></br></br>
<a href="{% url 'home' %}"><h1 align="center">Vila Viniteca</h1></a> </br></br>

<nav class="navbar navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <p class="navbar-text">|</p>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Vinos </a>

                   <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu"><a href="#">Por tipo</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Blancos</a></li>
                                <li><a href="#">Tintos</a></li>
                                <li><a href="#">Rosados</a></li>
                                <li><a href="#">Espumosos</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="#">Por zona</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="#">Por estilo</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a href="#">Por variedad de uva</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>

                        <li class="divider"></li>
                        <li class="belowDivider"> <a href="#">Por menos de 10€</a></li>
                        <li class="belowDivider"><a href="#">Entre 10€ y 20€</a></li>
                    </ul>
                </li>
                <p class="navbar-text">|</p>
                <li class="dropdown" >
                    <a data-activates='dropdown-menu' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Destilados y licores </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for destYLicor in destYLicor %}
                            <li class="belowDivider"><a> {{destYLicor.nombre}} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                <p class="navbar-text">|</p>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tabla de añadas</a></li>
                <p class="navbar-text">|</p>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacto</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav> </br>