<div id="header" class="row">
    <div id="header2">
        <div class="col-sm-4 col-md-4">
            <a href="{% url 'home' %}"><h1>Vinix</h1></a>
        </div>
        <div class="col-sm-8 col-md-8" >
            <div id="cart">
                <ul id="cart1">
                    {% if request.user.username %}
                        <li><a href="{% url 'my_account' %}"> {{user.first_name}}  <span class="glyphicon glyphicon-user gray">  </span></a></li>
                    {% else %}
                        <li><a href="{% url 'my_account' %}"> Iniciar sesión <span class="glyphicon glyphicon-user gray">  </span></a></li>
                    {% endif %}
                    <li><a href="{% url 'products_favorite' %}" >Productos favoritos <span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="{% url 'shopping_cart' %}" >Carrito
                        <span class="badge" >
                            {% if request.session.amount %}{{request.session.amount|floatformat:2}}
                            {% else %} 0 {% endif %}
                        € </span></a>
                    </li>
                    <li><a href="{% url 'logout' %}"> Cerrar sesión </a></li>
                </ul>
            </div>
        </div>
    </div>
</div></br></br>

<nav class="navbar navbar-inverse navbar-static-top" >
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Vinos </a>

                   <ul class="dropdown-menu">
                        <li class="menu-item dropdown dropdown-submenu"><a>Por tipo</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'list_wine' 'type' 'B' %}">Blancos</a></li>
                                <li><a href="{% url 'list_wine' 'type' 'T' %}">Tintos</a></li>
                                <li><a href="{% url 'list_wine' 'type' 'R' %}">Rosados</a></li>
                                <li><a href="{% url 'list_wine' 'type' 'E' %}">Espumosos</a></li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a>Por zona</a>
                            <ul class="dropdown-menu">
                                {% for zone in prodZone %}
                                    <li><a href="{% url 'list_wine' 'zone' zone.name %}">{{zone.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a>Por estilo</a>
                            <ul class="dropdown-menu">
                                {% for style in prodStyle %}
                                    <li><a href="{% url 'list_wine' 'style' style.name %}">{{style.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item dropdown dropdown-submenu"><a>Por variedad de uva</a>
                            <ul class="dropdown-menu">
                                {% for varietal in prodVarietal %}
                                    <li><a href="{% url 'list_wine' 'varietal' varietal.name %}">{{varietal.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="divider"></li>
                        <li class="belowDivider">
                            <a href="{% url 'list_wine' 'priceLower' 'E' %}">Por menos de 10€</a>
                        </li>
                        <li class="belowDivider">
                            <a href="{% url 'list_wine' 'priceUpper' 'E' %}">Entre 10€ y 20€</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" >
                    <a data-activates='dropdown-menu' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Destilados y licores </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for destYLicor in destYLicor %}
                            <li class="belowDivider"><a href="{% url 'list_spirit' destYLicor.name %}"> {{destYLicor.name}} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if request.user.username %}
                    <li class="dropdown"><a href="{% url 'profile' request.user.id %}">Red social</a></li>
                {% else %}
                    <li class="dropdown"><a href="{% url 'search_people' %}">Red social</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right"  action="/search" method="post">
                {% csrf_token %}
                {{form.non_field_errors}}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar" name="word">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav> </br>