{% extends "base_social.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="span9">
                <h4><b>{{user.first_name}} {{user.last_name}} </b></h4></br>

                <div class="row">
                    <div class="col-xs-2 col-sm-2" align="center">
                        <div>
                            <img  src="{{user.image.url}}" class="img-thumbnail" style="width:340px;height:180px;">
                        </div>

                        <form action="/upload" method="post" enctype="multipart/form-data">
                            {% csrf_token %} {{form.image}}
                            <input type="submit" value="Subir imagen" />
                        </form>
                    </div>

                    <div class="col-xs-2 col-sm-2"></br></br>
                        {% if seguidos %}
                            <p>Sigues: {{numSeguidos}}</p>
                        {% else %}
                            <p>Sigues: 0</p>
                        {% endif %}
                        {% if teSiguen %}
                            <p>Seguidores: {{numTeSiguen}}</p>
                        {% else %}
                            <p>Seguidores: 0</p>
                        {% endif %}
                        {% if posts %}
                            <p>Posts: {{numPosts}}</p>
                        {% else %}
                            <p>Posts: 0</p>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <form  action="/add_post" method="post">
                                {% csrf_token %}
                                {{form.non_field_errors}}
                                <div class="panel-body">
                                    <input type="text" class="form-control" placeholder="¿Qué está pasando?" name="post"></br>
                                    <input type="hidden" name="receiver" value="{{user.id}}">
                                    <button class="btn btn-default" type="submit">Publicar</button>
                                </div>
                            </form>
                        </div>
                        {% if posts %}
                            <div class="panel panel-default">
                                <ul class="list-group">
                                    {% for p in posts %}
                                        <li class="list-group-item"> <img  src="{{p.idUser1.image.url}}" class="img-thumbnail" style="width:50px;height:50px;">
                                            {{p.idUser1.first_name}} - {{p.comment}} - {{p.date|timesince}}
                                        <a href="{% url 'remove_post' p.id request.user.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                        {% else %}
                            <p>Todavía no has escrito ningún comentario.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}