{% extends "base_social.html" %}
{% load staticfiles %}
{% block body %}

{% block content %}
    <form action="" method="get">
        {{ products.form.as_p }}
        <button type="submit" name="submit" class="btn btn-primary btn-lg active">Buscar</button>
    </form>
{% endblock %}
{% for prod in products %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="{% url 'spirit_view' prod.id %}"> <img  src="{{prod.image.url}}"> </a>
                <div class="caption" align="center">
                    <h5><b>{{ prod.name}}</b></h5>
                    <p>{{ prod.price}}€</p>
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <a href="" id="btn">
                            <button  type="submit" name="submit" class="btn btn-primary btn-lg active">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Añadir
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>

{% endfor %}

{% endblock body %}