{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="span9">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}"><small>Inicio</small></a></li>
                    <li  class="active"><a><small>Resultado búsqueda</small></a></li>
                </ol>
                <h4><b> Resultado de la búsqueda </b></h4></br></br>
                {% if list_prod %}
                    <div class="row">
                        {% for prod in list_prod %}
                                <div class="col-sm-4 col-md-3">
                                    <div class="thumbnail">
                                        {% if prod.wine %}
                                            <a href="{% url 'wine_view' prod.id %}"> <img  src="{{prod.image.url}}"> </a>
                                        {% else %}
                                            <a href="{% url 'spirit_view' prod.id %}"> <img  src="{{prod.image.url}}"> </a>
                                        {% endif %}
                                        <div class="caption" align="center"> </div>
                                    </div>
                                    <div>
                                        <div class="cajaProducto">
                                            <div>
                                                <h5>{{prod.name}}</h5>
                                                <p>{{prod.zone}}, {{prod.country}}</p>
                                                <span>{{prod.price}}€</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div></br></br>
                {% else %}
                    <p>La búsqueda <b>{{word}}</b> no ha coincidido con ningún producto.</p>
                {% endif %} </br></br>
            </div>
        </div>
    </div>
{% endblock body %}
