{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><small>Inicio</small></a></li>
        <li class="active"><small>Carrito</small></li>
    </ol>
    <h4>Mi carrito</h4></br></br>
        {% if shopping_cart %}
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th> Producto </th>
                            <th> Precio </th>
                            <th> Cantidad </th>
                            <th> Eliminar </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sc in shopping_cart %}
                            <tr>
                                <td width="40%"> {{sc.product.name}} </td>
                                <td width="20%">{{sc.product.price}} €</td>
                                <td width="10%"><input type="number" min="1" value="{{sc.amount}}" max="36" name="cantidad" id="cantidad"/></td>
                                <td width="10%">
                                    <a href="" 	style="color:black">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                </td>
                                <td width="20%"> Falta </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table></br></br></br></br>

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                         <!-- if error -->
                            <ul><li>Debe aceptar los términos y condiciones para poder continuar.</li></ul>
                         <!-- endif -->
                        <span>
                            <input type="checkbox" name="checkbox">  <b>Aceptar los términos y condiciones</b>
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2"></div>
                    <div class="col-sm-4 col-md-4" align="center">

                        <p><b>Subtotal: {{amount}} € </b></p></br>
                        <a id="btn">
                            <button type="submit" class="btn btn-primary btn-lg active">
                                <span aria-hidden="true"></span> Tramitar pedido
                            </button>
                        </a>
                    </div>
                </div>
            </form>
        {% else %}
            <p>Todavía no se ha realizado el pedido de ningún producto.</p>
        {% endif %}
{% endblock body %}