{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
     <ol class="breadcrumb">
         <li><a href="{% url 'home' %}"><small>Inicio</small></a></li>
         <li><small>Resumen compra</small></li>
     </ol>

    <div class="row">

        <div class="col-sm-4 col-md-4">
            <h4>Dirección de envío</h4></br>

            {% if shopping %}
                <p> {{shopping.name}} {{shopping.lastName}}</p>
                <p> {{shopping.address}} </p>
                <p> {{shopping.province}}, {{shopping.town}}  </p>
                <p> {{shopping.country}} {{shopping.postalCode}} </p>
                <p> {{shopping.phone}} </p>
            {% endif %}
            </br>
        </div>
        <div class="col-sm-8 col-md-8">
            <h4>Productos</h4></br></br>
            {% if shoppingCart %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Producto </th>
                            <th> Precio </th>
                            <th> Cantidad </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in shoppingCart %}
                            <tr>
                                {% if prod.product.wine %}
                                    <td><a href="{% url 'wine_view' prod.product.id %}"> {{prod.product.name}} </a></td>
                                {% else %}
                                   <td> <a href="{% url 'spirit_view' prod.product.id %}"> {{prod.product.name}} </a></td>
                                {% endif %}
                                <td> {{prod.product.price}}€</td>
                                <td> {{prod.amount}}</td>
                                <td>  {{prod.total_product}}€</td>
                            </tr>
                        {% endfor %}
                        {% if shopping %}
                            <tr>
                                <td> Subtotal </td><td></td><td></td>
                                <td> {{shopping.priceTotal}}€ </td>
                            </tr>
                            <tr>
                                <td> Gastos de envío </td><td></td><td></td>
                                <td> {{3|floatformat:2}}€ </td>
                            </tr>
                            <tr>
                                <td> Total </td><td></td><td></td>
                                <td>  {{shopping.priceTotal|add:3 |floatformat:2}}€ </td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            {% else %}
                <p>No existe la compra.</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}