{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href=""><small>Inicio</small></a></li>
        <li class="active"><small>Producto</small></li>
    </ol>
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <h4>  {{wine_data.name}}</h4></br>
            <p>   {{wine_data.price}} € </p></br></br>

            <div class="table-responsive" >
                 <table class="table">
                    <tr>
                        <td>Pais</td>
                        <td>{{wine_data.country}}</td>
                    </tr>
                    <tr>
                        <td>Zona</td>
                        <td>{{wine_data.zone}}</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>{{wine_data.get_type_display}}</td>
                    </tr>
                    <tr>
                        <td>Variedad</td>
                        <td>{{wine_data.varietal}}</td>
                    </tr>
                    <tr>
                        <td>Graduación alcohólica</td>
                        <td>{{wine_data.alcohol}} º</td>
                    </tr>
                    <tr>
                        <td>Temperatura de servicio</td>
                        <td>{{wine_data.temperature}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                 </table>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2">
        </div>
        <div class="col-xs-4 col-sm-4" align="center">
            <div >
                <img src="" class="img-thumbnail">
            </div>
        </div>
    </div></br></br>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Información adicional</b></div>
                <ul class="list-group">
                    <li class="list-group-item"><b>Maridaje. </b>{{wine_data.elaboration}}</li>
                    <li class="list-group-item"><b>Elaboración. </b>{{wine_data.elaboration}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></br></br>
            <form class="form-horizontal" action="" method="post">
                <p align="center">{% csrf_token %}</p>
                {{form.non_field_errors}}
                <div align="center">
                    <input type="hidden" value="{{wine_data.id}}" name="idProducto">
                    <span>
                        <label for="cantidad">Cantidad: </label>
                        <input type="number" min="1" value="1" max="36" name="cantidad">
                    </span></br></br>
                    <button  type="submit" name="submit" class="btn btn-primary btn-lg active">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Añadir al carrito
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}