{% extends "base_social.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="col-md-8">
                        {% if productsFavorite %}
                            <div class="panel panel-default" >
                                {% for fav in productsFavorite%}
                                    <div class="panel-heading" id="productFavorite">
                                        <div class="row" >
                                            <div class="col-md-2" >
                                                {% if fav.product.wine %}
                                                    <a href="{% url 'wine_view' fav.product.id %}"> <img  src="{{fav.product.image.url}}" class="img-responsive" width="120" height="120"> </a>
                                                {% else %}
                                                    <a href="{% url 'spirit_view' fav.product.id %}"> <img  src="{{fav.product.image.url}}" class="img-responsive" width="120" height="120"> </a>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-3"></br>
                                                {% if fav.product.wine %}
                                                    <p><a href="{% url 'wine_view' fav.product.id %}"> {{fav.product.name}} </a></p>
                                                    {{fav.product.zone}}, {{fav.product.country}} </br>
                                                     Vino {{fav.product.wine.get_type_display}}

                                                {% else %}
                                                    <p><a href="{% url 'spirit_view' fav.product.id %}"> {{fav.product.name}} </a></p>
                                                     {{fav.product.zone}}, {{fav.product.country}} </br>
                                                     {{fav.product.spirit.subType}}
                                                {% endif %}

                                            </div>

                                            <div class="col-md-4"></br></br>
                                                <a href="{% url 'remove_favorite_product' fav.product.id %}">
                                                    <span class="glyphicon glyphicon-heart-empty" > Eliminar de favoritos</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No existen productos en la lista de favoritos.</p>
                        {% endif %} </br>
                    </div>
                    <div class="col-md-4">
                        {% if productsNoFavorite %}
                            {% for p in productsNoFavorite %}
                                <p> <a href="{% url 'wine_view' p.id %}">{{p.name}} </a></p>
                                <p><a class="more" href="{% url 'add_favorite_product' p.id %}"> Añadir a favoritos </a></p>
                            {% endfor %}

                        {% else %}
                            {% if word %}
                                <p>No hemos encontrado a nadie con el nombre <b>{{word}}</b>.</p>
                            {% endif %}
                        {% endif %}

                        <form  action="/search_wine" method="post">
                            {% csrf_token %}
                            {{form.non_field_errors}}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar" name="word">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
