
.footer {
  height: 60px;
  background-color: #f5f5f5;
}

li a {
    color: green;
}

body {
    background: white url("images/shop/products/1069255_10201071136914255_126710902_n.jpg") no-repeat right bottom;
}