


.focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.imagenMenuPrincipal {
	height=500px!important;
	width=200px!important;
}

.breadcrumb > li + li:before {
	background-image: none;
}

.inline {
   border-bottom: 1px solid;
   border-color: #FFFFFF;
   overflow:visible;
   height:10%;
   margin-left: 10%;
   width: 80%;
}

.verMas {
    color:#6F9971;
    font: normal normal normal 40px/1.4em 'Open Sans',sans-serif;
    margin-left: 6%;

}


/* Tabla red social */

#tablaRedSocial {
    width:100%;
}

.cabezera {
   text-align: center;
   width: 100px;
}

/* Button en negro */

.btn-primary.active, .btn-primary:active {
    background-color: #2e2c2c;
    border-color: #2e2c2c;
    border: 2px solid #f5f5f5;
}

/* Comentario de vinos y destilados y licores */

#comment {
    color: #777;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
}

/* Div que envuelve al vino en el home */

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.cajaProducto {
     text-align: center;
     background-color: #2c2c2c;
     color: #FFFFFF !important;
     padding-top: 1%;
     padding-bottom: 2%;
}

/* Productos favoritos */

#productFavorite {
    background-image: none;
    background-color: white;
}

/* Order by home, listados vinos, listado destilados */

#orderby {
    padding-top: 1%;
}

/* footer */

#wrapper {
    background: #1c1a1a;
}

#footer {
    color: #ffffff;
    min-height: 20vh;
    display: flex;
    align-items: center;
    margin-left: 18%;

}

.footer-left li{
    margin: 0 20px;
    display: inline-block;
    font-size: 10px;
    color: #FFFFFF;
}

#footer > ul > li > a {
    color: #FFFFFF;
}

/* navbar perfil red social */

#navRedSocial {
    background: white;
}

#navRed {
    color: #ffffff;
    min-height: 6vh;
    display: flex;
    align-items: center;
    margin-left: 6%;

}

.navRed-left li{
    margin: 0 20px;
    display: inline-block;
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#navRed > ul > li > a {
    color: #FFFFFF;
}

